.DS_Store
.sw[a-p]
.*.sw[a-p]

emacs/.emacs.d/auto-save-list
emacs/.emacs.d/elpa
emacs/.emacs.d/network-security.data
emacs/.emacs.d/savefile
emacs/.emacs.d/projectile-bookmarks.eld

ranger/.config/ranger/bookmarks
