#!/usr/bin/env sh

export XDG_DATA_HOME = $HOME/.local/share

[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

xrandr --output eDP-1 --mode 2560x1440 --scale 1x1 --dpi 209

compton -b

setxkbmap -layout us,gr -variant ,polytonic -option grp:caps_toggle -option compose:ralt
xsetroot -cursor_name left_ptr

sxhkd &
libinput-gestures-setup start
dropbox &
dunst &
light-locker --lock-on-suspend &
