! Xresources

Xft.dpi: 209

URxvt.font:	xft:Inconsolata:Regular:pixelsize=27:minspace=False, xft:DejaVu Sans:pixelsize=18
URxvt.geometry: 90x25
URxvt.letterSpace: -1
URxvt.scrollbar: false

#include "/home/pletcher/.Xresources.d/colors/nord/nord.Xresources"
