! Xresources

Emacs.font: Hack-9

Xft.dpi: 209

Xcursor.size: 32

xscreensaver.lock: True
xscreensaver.fadeSeconds: 0:00:00
xscreensaver.newLoginCommand: dm-tool switch-to-greeter
#include "/home/pletcher/.cache/wal/colors.Xresources"

