@import url("/home/pletcher/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: "Input Sans", Icomoon, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @color4;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @color4;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: @color3;
		color: @color0;
}

#mode, #clock, #battery,
#pulseaudio, #cpu, #memory, 
#network {
    padding: 0 10px;
    margin: 0;
}

#mode {
    background: @color3;
    border-bottom: 3px solid @color4;
}

#clock {
    background-color: @color3;
		color: @color0;
}

#battery {
    background-color: @color4;
    color: @color0;
}

#battery.charging {
    color: @color4;
    background-color: @color14;
}

@keyframes blink {
    to {
        background-color: @color4;
        color: @color0;
    }
}

#battery.warning:not(.charging) {
    background: @color11;
    color: @color4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
